.cartItem {
}
.item {
  width: 5rem;
  height: 5rem;
  border-radius: 10px;
}

.imgItem {
  width: 4rem;
  height: 4rem;
  display: flex;
  margin-left: 1rem;
}
.rmBtn {
  margin-left: 2rem;
  margin-right: 0%;
}
