.WebHeading{
   
    width: 100% !important;
    height: 15% !important;
    margin-top: 1%;
    background-color: rgb(113, 109, 109) !important;
   margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
   
}

.WebHeading h1{
    font-size: 500%;
    color: white;
    margin-top: 4%;
}